body
{
    font-family: "raleway";
    width: fit-content;
    max-width: 1400px;
    margin: auto;
}
#bloc_page
{
    padding-left: 20px;
    padding-right: 20px;
}

    /*Base generale*/
h1, h2
{
    font-weight: bold;
}

    /*header du site*/
header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px 10px 20px;
}

#ancres
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo img
{
    width: 100px;
    height: 50px;
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav li{
    margin-right: 45px;
}

nav a{
    color: black;
    text-decoration: none;
}

nav a:hover /* bordure et couleur sur les ancres lors du survol*/
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 22px;
}

#inscription/* bouton inscription*/
{
    color: #0065FC;
    font-weight: bold;
    padding-top: 16px;
}

    /*Barre de recherche*/
#barre_recherche
{
    display: flex;
    flex-direction: row;
}

#map
{
    width: 30px;
    height: 30px;
    border: 1px solid #F2F2F2;
    border-radius: 10px 0 0 10px;
    background-color: #f2f2f2;
    padding-top: 10px;
    text-align: center;
    margin: 0px;
}
#recherche
{
    border-top: 1px solid #F2F2F2 ;
    border-bottom: 1px solid #F2F2F2 ; 
    border-left: none;
    border-right: none;
    width: 130px;
    height: 40px;
    margin: 0px;
}    
::placeholder
{
    font-weight: bolder;
    color: black;
}
#rechercher
{
    background-color: #0065FC;
    color: white;
    font-weight: bolder;
    border: 1px solid #0065FC ;
    border-left: none;
    border-radius: 0 10px 10px 0;
    width: 110px;
    height: 40px;
    margin: 0px;
}
#search
{
    display: none;
}

    /* Bloc filtre*/

#filtres_boite
{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-top: 10px;
}
#liens a
{
    text-decoration: none;
    color: black;
}

#liens a:hover
{
    color: #0065FC;
}
#titre
{
    padding-top: 10px;
    margin-right: 20px;
}
#liens ul
{
    display: flex;
    list-style-type: none;
}
#liens li
{
    padding-right: 20px;
}
#liens i
{
    color: #0065FC;
    border: 1px solid #DEEBFF;
    border-radius: 50px;
    background-color: #DEEBFF;
    width: 36px;
    height: 28px;
    margin-right: 10px;
}
#eco,
#famille,
#romantique,
#animaux
{
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    height: 35px;
    margin-right: 20px;
}
#billet,
#enfant,
#coeur,
#chien
{
    text-align: center;
    padding-top: 7px;
}

#info
{
    font-weight: normal;
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    padding: 5px 0 0 10px;
}
#reponse
{
    margin: 30px 0 30px 0;
}

    /* Bloc Hebergement*/

.main
{
    display: flex;
    justify-content: space-between;
}    

#hebergements
{
    background-color: #F2F2F2;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    width: 65%;
    align-content: center;
}
article
{
    display: flex;
    flex-direction: column;
}
article img
{
    object-fit: cover;
}
#titre_hebergements,
#suite
{
    padding-left: 30px;
}

#encarts
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px;
    margin-bottom: 20px;
    align-items: center;
}

#hebergements a
{
    color: black;
    text-decoration: none;
    font-weight: normal;
}

#hebergements strong
{
    font-weight: bold;
}

.plain-star
{
    color: #0065FC;
}
.empty-star
{
    color: #F2F2F2;
}

#encarts figure
{
    width: 230px;
    height: 200px;
    background-color: white;
    border: 1px solid white ;
    border-radius: 20px;
    box-shadow: 1px 1px 6px #7a7d7f;
    margin: 0px;
}
.carte
{
    margin-bottom: 30px;
}
/*Taille des photos*/

#photo_cannebiere,
#photo_port,
#photo_mouettes,
#photo_mer,
#photo_panier,
#photo_amina 
{
    width: 224px;
    height: 110px;
    border: 3px solid white;
    border-radius: 20px 20px 0 0;
}
#legend1,
#legend2,
#legend3,
#legend4,
#legend5,
#legend6 
{
    width: 214px;
    height: 70px;
    border: 3px solid white;
    border-radius: 0 0 20px 20px;
    color: black;
    background-color: white;
    margin: 0px;
    padding-left: 10px;
}
/*Espace des étoiles*/

#fig1 i, 
#fig3 i,
#fig4 i,
#fig5 i
{
    padding-top: 8px;
}
#fig2 i,
#fig6 i
{
    color: #0065FC;/*Toutes les étoiles sont bleues*/
    padding-top: 8px;
}

    /*Bloc les plus populaires*/

aside
{
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 15px;
}
aside img
{
    object-fit: cover;
}
#les_populaires
{
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    padding: 0px;
    margin: 0;
}
#entete_populaires
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    padding-left: 25px;
}
#encarts_populaires
{
    padding: 0px;
}
#graph
{
    padding-top: 20px;
    width: 20px;
    height: 20px;
}
.card1
{
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    margin: 25px;
    margin-bottom: 35px;
    padding: 3px;
    width: 330px;
    height: 130px;
    box-shadow: 1px 1px 6px #7a7d7f;
}

#encarts_populaires a,
#encarts_populaires a:visited
{
    color: black;
    text-decoration: none;
}

img
{
    border: 1px solid white;
    border-radius: 20px 0 0 20px;
    width: 130px;
    height: 130px;
}

#fig7,
#fig8,
#fig9
{
    width: 130px;
    height: 130px;
}

#legend7,
#legend8,
#legend9
{
    margin: 10px;
}
.etoiles
{
    margin-top: 40px;
}

    /*Activités*/ 

#activite
{ 
    display: flex; 
    flex-direction: row;
}
#activite_marseille a,
#activite_marseille a:visited
{
    color: black;
    text-decoration: none;
}

/*Tailles des encarts*/

#encart_fortpomegues, 
#encart_ilesfrioul, 
#encart_parclongchamp, 
#encart_notredamedelagarde 
{ 
    width: 234px;
    height: 175px; 
    margin-bottom: 25px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 1px 1px 6px #7a7d7f;
} 
#encart_parccalanques,
#encart_vieuxport 
{ 
    width: 300px;
    height: 425px; 
    background-color: white;
    border-radius: 25px;
    box-shadow: 1px 1px 6px #7a7d7f;
}
#encart_vieuxport
{
    margin-left: 0px;
}
#encart_parclongchamp, 
#encart_notredamedelagarde
{
    margin-right: 0px;
}

/*Taille des photos*/ 

#photo_vieuxport,
#photo_parccalanques
{
    width: 300px;
    height: 375px;
    border: none;
    border-radius: 25px 25px 0 0;
}
#photo_fortpomegues, 
#photo_ilesfrioul, 
#photo_notredamedelagarde, 
#photo_parclongchamp 
{ 
    width: 234px;
    height: 120px;
    border: none;
    border-radius: 25px 25px 0 0; 
} 

/*Taille des légendes*/ 

#legend_fortpomegues, 
#legend_ilesfrioul,
#legend_notredamedelagarde, 
#legend_parclongchamp 
{ 
    width: 234px; 
    height: 50px; 
    padding-left: 8px; 
    padding-top: 15px;
    font-weight: bold;
}

#legend_parccalanques,
#legend_vieuxport
{
    width: 300px; 
    height: 50px; 
    padding-left: 13px; 
    padding-top: 15px;
    font-weight: bold;
}
/*Pied de page*/



/*Fond*/

footer
{
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer a
{
    text-decoration: none;
    color: black;
    line-height: 1.5;
    padding-left: 20px;
}

h4
{
    font-weight: bold;
    padding-left: 20px;
    padding-bottom: 10px;
}
#apropos
{
    padding-right: 200px;
}
#noshebergements
{
    padding-right: 250px; 
}        

    /*tentative de version tablette incomplette et brouillon*/
@media screen and (min-width: 768px) and (max-width: 1024px)
{
    body
    {
        margin: 0em;
        padding: 0em;
    }
    #bloc_page
    {
        margin: 0em;
        padding: 0em;
    }
    
    header
    {   
        display: flex;
        flex-direction: column;
        margin: 0em;
        padding: 0px;
    }

    #logo
    {
        margin-top: 20px;
    }
    #logo img
    {
        margin-left: 20px;
    }
    
    #ancres
    {
        flex-direction: row;
        font-size: 25px;
    }
    #lien_hebergements
    {
        margin-right: 175px;
    }
}

    /*version telephone*/
@media all and (max-width: 667px)
{
    body
    {
        margin: 0em;
        padding: 0em;
        width: auto;
        box-sizing: border-box;
    }
    #bloc_page
    {
        margin: 0em;
        padding: 0em;
    }
    header
    {   
        display: flex;
        flex-direction: column;
        margin: 0em;
        padding: 0px;
    }

    #logo
    {
        margin-top: 20px;
    }
    #logo img
    {
        margin-left: 20px;
    }

    nav
    {
        width: 100%;
    }
    nav ul
    {
        width: 100%;
        padding: 0;
    }
    nav li
    {
        width: 50%;
        border-bottom: 3px solid #F2F2F2;
        padding-bottom: 10px;
        margin: 0;
        text-align: center;
    }
    #inscription
    {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav a:hover
    {
        padding-top: 37px;
    }
    nav li a:hover
    {
        border-top: none;
    }
    nav li:hover
    {
        border-color: #0065FC;
        color: #0065FC;
    }
    #ancres
    {
        width: 100%;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    #bloc_recherche
    {
        padding-left: 20px;
        padding-right: 20px;
    }
    form
    {
        width: 100%;
        margin-top: 30px;
    }
    .map
    {
        width: 10%;
    }
    input
    {
        width: 80%;
    }
    #rechercher
    {
        width: 10%;
        border-radius: 10px;
    }
    #text_rechercher
    {
        display: none;
    }
    #search
    {
        display: block;
    }
    #filtres_boite
    {
        width: auto;
        flex-wrap: wrap;
    }
    #liens ul
    {
        flex-wrap: wrap;
    }
    #reponse_text
    {
        flex-wrap: wrap;
    }
    .main
    {
        flex-direction: column-reverse;
    }
    #les_populaires
    {
        width: auto;
        border-radius: 0;
    }
    .card1
    {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    #hebergements
    {
        width: auto;
        background-color: white;
    }
    #titre_hebergements
    {
        margin-left: 15px;
        padding: 0;
    }
    #titre_activite
    {
        margin-left: 20px;
    }
    #activite
    {
        flex-direction: column;
        margin-left: 20px;
    }
    #entete_populaires
    {
        padding-left: 15px;
    }
    #encarts
    {
        margin-left: 15px;

    }
    #encarts_populaires
    {
        margin-left: 15px;
        align-content: center;
    }
    #encarts figure
    {
        width: 330px;
    }
    #suite
    {
        padding-left: 15px;
    }
    #photo_cannebiere,
    #photo_port,
    #photo_mouettes,
    #photo_mer,
    #photo_panier,
    #photo_amina
    {
        width: 325px;
    }
    #photo_vieuxport,
    #photo_parccalanques,
    #photo_fortpomegues, 
    #photo_ilesfrioul, 
    #photo_notredamedelagarde, 
    #photo_parclongchamp 
    {
        width: 330px;
        height: 120px;
    }
    #encart_fortpomegues, 
    #encart_ilesfrioul, 
    #encart_parclongchamp, 
    #encart_notredamedelagarde,
    #encart_parccalanques,
    #encart_vieuxport
    {
        width: 330px;
        height: auto;
        margin-left: 0;
        margin-right: 0;
    }
    
    footer
    {
        width: auto;
        display: flex;
        flex-direction: column;
    }
    #apropos,
    #noshebergements,
    #assistance
    {
        padding-right: 0;
        margin-left: 10px;
    }
} 